/* Font import */

@font-face {
    font-family: 'mopsmedium';
    src: url('../assets/fonts/mops-webfont.woff2') format('woff2'),
        url('../assets/fonts/mops-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'abhaya_libreregular';
    src: url('../assets/fonts/abhayalibre-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/abhayalibre-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}