
    :root{
        --nav-crl-primary: rgba(0, 0, 0, .8);
        --fnt-crl-primary: rgb(255, 255, 255);
        --fnt-crl-secondary: rgb(0, 0, 0);
        --bg-crl-primary:  rgb(0, 0, 0);
        --width-desktop: 50px;
    }

