/* Color Maps  */

$colors:(
    primary: (
        100: hsl(14,100%,80%),
        200: hsl(14,100%,70%),
    ),
    youtube: (
        100: hsl(219, 89%, 80%),
        200: hsl(219,89%, 70%),
    )
)