:root {
  --nav-crl-primary: rgba(0, 0, 0, .8);
  --fnt-crl-primary: rgb(255, 255, 255);
  --fnt-crl-secondary: rgb(0, 0, 0);
  --bg-crl-primary: rgb(0, 0, 0);
  --width-desktop: 50px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding on everything*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Avoid text overflow */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Allow percentage-based heights in the application */
html,
body {
  height: 100%;
}

/* Add accessible line-height, Improve text rendering*/
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Improved media display */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*End of the reset*/
/* Font import */
@font-face {
  font-family: "mopsmedium";
  src: url("../assets/fonts/mops-webfont.woff2") format("woff2"), url("../assets/fonts/mops-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "abhaya_libreregular";
  src: url("../assets/fonts/abhayalibre-regular-webfont.woff2") format("woff2"), url("../assets/fonts/abhayalibre-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body,
html {
  background-color: var(--bg-crl-primary);
  font-family: "abhaya_libreregular";
}

.modal {
  position: absolute;
  margin: auto;
  border: 2px solid rgb(0, 0, 0);
  width: 40ch;
  padding: 1rem;
  max-height: 40ch;
  box-shadow: -2px 11px 22px 4px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: -2px 11px 22px 4px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: -2px 11px 22px 4px rgba(0, 0, 0, 0.79);
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.35);
}

.modal-body {
  display: grid;
  grid-template-rows: repeat(3 1fr);
  gap: 0.25rem;
}

.modal-input {
  font-size: 1.15rem;
  margin-bottom: 0.75rem;
}

.modal-title {
  font-size: 1.25rem;
}

#map {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: var(--bg-crl-primary);
}

.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none !important;
}

.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: var(--nav-crl-primary);
  color: var(--fnt-crl-primary);
  font-size: 1.15rem;
  border-bottom: 1px solid #ccc;
}

.leaflet-control-layers {
  font-family: "abhaya_libreregular";
  background-color: var(--nav-crl-primary);
  color: var(--fnt-crl-primary);
  font-size: 1.15rem;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  width: 3rem !important;
  height: 3rem !important;
  line-height: 3rem !important;
  font-size: 1.75rem !important;
}

.leaflet-control {
  cursor: pointer;
}

@media (max-width: 991px) {
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    width: 0 !important;
    height: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
  }
}
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2000;
  background-color: var(--nav-crl-primary);
}

.sidebar.collapsed {
  width: var(--width-desktop);
}

.button-controls {
  display: flex;
  grid-auto-flow: column;
  gap: 0.75rem;
  font-size: 1.4rem;
}

.col {
  margin: 0 auto;
}

.btn-sidebar {
  border: 0.15rem var(--nav-crl-primary);
  border-radius: 0.25rem;
  color: var(--nav-crl-primary);
  text-decoration: none;
  cursor: pointer;
  padding: 0 0.5rem;
}

.btn-sidebar > p {
  display: inline-block;
  margin-right: 1rem;
}

.menu {
  margin-top: 0.75rem;
  display: none;
}

.menu--active {
  display: grid;
  grid-template-rows: 1fr;
  gap: 0.5rem;
}

.flex-container {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}

.checkpoint-menu-icon {
  transition: transform 200ms ease-in-out;
}

.flip-icon {
  transform: rotate(180deg);
}

.sidebar-left {
  left: 0;
}

.sidebar-right {
  right: 0;
}

.sidebar-tabs {
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.sidebar-left .sidebar-tabs {
  left: 0;
}

.sidebar-right .sidebar-tabs {
  right: 0;
}

.sidebar-tabs,
.sidebar-tabs > ul {
  width: var(--width-desktop);
  margin: 0;
  padding: 0;
}

.sidebar-tabs > li,
.sidebar-tabs > ul > li {
  width: 100%;
  margin: 1.5rem auto;
  color: var(--fnt-crl-primary);
  font-size: 1.5rem;
  overflow: hidden;
  transition: all 80ms;
}

.sidebar-tabs > li:hover,
.sidebar-tabs > ul > li:hover {
  color: var(--fnt-crl-primary);
  opacity: 0.5;
  background-color: var(--nav-crl-primary);
}

.sidebar-tabs > li.active,
.sidebar-tabs > ul > li.active {
  color: var(--fnt-crl-secondary);
  background-color: rgba(199, 198, 198, 0.8);
}

.sidebar-tabs > li.disabled,
.sidebar-tabs > ul > li.disabled {
  color: rgba(51, 51, 51, 0.4);
}

.sidebar-tabs > li.disabled:hover,
.sidebar-tabs > ul > li.disabled:hover {
  background: transparent;
}

.sidebar-tabs > li.disabled > a,
.sidebar-tabs > ul > li.disabled > a {
  cursor: default;
}

.sidebar-tabs > li > a,
.sidebar-tabs > ul > li > a {
  display: block;
  width: 100%;
  line-height: var(--width-desktop);
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.sidebar-tabs > ul + ul {
  bottom: 0;
}

.sidebar-content {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--fnt-crl-primary);
  padding: 0.75rem;
}

.sidebar-content .link {
  color: var(--fnt-crl-primary);
  text-decoration: underline;
}

.sidebar-left .sidebar-content {
  left: var(--width-desktop);
  right: 0;
  padding-left: 0.5rem;
}

.sidebar-right .sidebar-content {
  left: 0;
  right: var(--width-desktop);
}

.sidebar.collapsed > .sidebar-content {
  overflow-y: scroll;
}

.sidebar-pane {
  display: none;
  left: 0;
  right: 0;
  padding: 0.5rem;
}

.sidebar-pane.active {
  display: block;
}

.sidebar-header {
  margin: 0.3rem auto 1.15rem auto;
  max-height: 3rem;
  padding: 0 1.25rem;
  color: var(--fnt-crl-primary);
  border-bottom: 0.15rem solid var(--fnt-crl-primary);
  text-transform: uppercase;
  text-align: center;
  font-size: 2.25rem;
}

.fa-caret-left {
  font-size: 2rem;
}

.sidebar-right .sidebar-header {
  padding-left: var(--width-desktop);
}

.sidebar-close {
  position: absolute;
  top: 1rem;
  width: var(--width-desktop);
  height: var(--width-desktop);
  text-align: center;
  cursor: pointer;
}

.sidebar-left .sidebar-close {
  right: 0;
}

.sidebar-right .sidebar-close {
  left: 0;
}

.sidebar-left ~ .sidebar-map {
  margin-left: var(--width-desktop);
}

.sidebar-right ~ .sidebar-map {
  margin-right: var(--width-desktop);
}

.sidebar-content li {
  margin-bottom: 0.5rem;
}

@media (max-width: 992px) {
  .sidebar-header {
    height: 2.5rem;
    max-height: 2.5rem;
    font-size: 1.5rem;
  }
  .button-controls {
    font-size: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-pane {
    min-width: 20%;
  }
  .sidebar-left ~ .sidebar-map .leaflet-left {
    left: 315px;
  }
  .sidebar-right ~ .sidebar-map .leaflet-right {
    right: 315px;
  }
  .sidebar {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .sidebar-right ~ .sidebar-map {
    margin-right: 0;
  }
  .sidebar-left ~ .sidebar-map {
    margin-left: 0;
  }
  .sidebar-left ~ .sidebar-map .leaflet-left {
    transition: left 0.5s;
  }
  .sidebar-left.collapsed ~ .sidebar-map .leaflet-left {
    left: 50px;
  }
  .sidebar-right ~ .sidebar-map .leaflet-right {
    transition: right 0.5s;
  }
  .sidebar-right.collapsed ~ .sidebar-map .leaflet-right {
    right: 50px;
  }
  .sidebar {
    top: 0;
    bottom: 0;
    transition: width 0.5s;
  }
  .sidebar-left {
    left: 0;
  }
  .sidebar-right {
    right: 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-pane {
    min-width: 20%;
  }
  .sidebar-left ~ .sidebar-map .leaflet-left {
    left: 400px;
  }
  .sidebar-right ~ .sidebar-map .leaflet-right {
    right: 400px;
  }
  .sidebar {
    width: 25%;
  }
  .sidebar-header {
    height: 2.5rem;
    max-height: 2.5rem;
    font-size: 1.75rem;
  }
  .button-controls {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .sidebar-pane {
    min-width: 25%;
    font-size: 1.25rem;
  }
  .sidebar-left ~ .sidebar-map .leaflet-left {
    left: 470px;
  }
  .sidebar-right ~ .sidebar-map .leaflet-right {
    right: 470px;
  }
  .sidebar {
    width: 30%;
  }
}
.list-container {
  margin-bottom: 1rem;
}

.marker-list-toggle {
  background: none;
  border: none;
  display: block;
  text-decoration: underline;
  color: var(--fnt-crl-primary);
  font-size: 1.75rem;
  cursor: pointer;
}
.marker-list-toggle:hover {
  text-decoration: none;
}

.marker-list-item {
  display: grid;
  grid-template-rows: repeat(2 1fr);
}

.marker-info {
  margin-right: 2rem;
  font-size: 1.25rem;
}

.rename {
  margin-right: 1rem;
}

.checkpoint-btn {
  font-size: 1.25rem;
}

.marker-link {
  text-decoration: none;
  color: inherit;
  font-size: 1.45rem;
  margin-right: 5rem;
}
.marker-link:hover {
  color: rgba(255, 255, 255, 0.45);
}

.marker-info {
  font-size: 1.25rem;
  color: inherit;
  font-family: "abhaya_libreregular";
}

.item-btn {
  background: none;
  border: none;
  color: var(--fnt-crl-primary);
  cursor: pointer;
}
.item-btn:hover {
  text-decoration: underline;
}

.marker-rename {
  margin-right: 1rem;
}

.marker-list {
  display: none;
}

.marker-list--open {
  padding-top: 1rem;
  display: block;
}

@media (max-width: 992px) {
  .checkpoint-btn {
    font-size: 0.85rem;
  }
  .marker-link {
    font-size: 1rem;
  }
  .marker-info {
    font-size: 0.85rem;
  }
  .marker-list-toggle {
    font-size: 1.25rem;
  }
}
.custom-popup {
  font-family: "abhaya_libreregular";
  font-size: 1.25rem;
  text-align: center;
}

.checkpoint-body {
  display: grid;
  grid-template-rows: repeat(3 1fr);
  gap: 0.75rem;
  font-size: 0.85rem;
}

.checkpoint-coordinates {
  font-size: 1rem;
  font-weight: 600;
}

.leaflet-popup-content-wrapper {
  box-shadow: 3px 14px 18px 6px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 3px 14px 18px 6px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 3px 14px 18px 6px rgba(0, 0, 0, 0.46);
}

.input-label {
  display: block;
}

.cbtn {
  display: inline-block;
  cursor: pointer;
  padding: 0.25rem 0.75rem;
  background: rgb(86, 106, 229);
  border: none;
  color: #FFFFFF;
  border-radius: 1rem;
}
.cbtn:hover {
  background: rgb(34, 44, 112);
  text-decoration: underline;
  box-shadow: -1px 11px 14px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 11px 14px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 11px 14px 1px rgba(0, 0, 0, 0.25);
}

.leaflet-popup-content {
  font-size: 1.15rem;
}

.name-required {
  color: rgb(201, 45, 34);
  font-size: 0.75rem;
  display: none;
}
.name-required--active {
  display: block;
}

.layer-required {
  color: rgb(240, 33, 18);
  font-size: 0.75rem;
  display: none;
}
.layer-required--active {
  display: block;
}

.input-required {
  border: 2px solid rgb(240, 33, 18);
}

@media (min-width: 1200px) {
  .checkpoint-body {
    font-size: 1.15rem;
  }
  .checkpoint-coordinates {
    font-size: 1.15rem;
  }
  .field-required {
    font-size: 0.85rem;
  }
}
