.list-container {
    margin-bottom: 1rem;
}

.marker-list-toggle {
    background: none;
    border: none;
    display: block;
    text-decoration: underline;
    color: var(--fnt-crl-primary);
    font-size: 1.75rem;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
    
}

.marker-list-item {
    display: grid;
    grid-template-rows: repeat(2 1fr);
}

.marker-info {
    margin-right: 2rem;
    font-size: 1.25rem;
}

.rename {
    margin-right: 1rem;
}

.checkpoint-btn {
    font-size: 1.25rem;

}


.marker-link {
    text-decoration: none;
    color: inherit;
    font-size: 1.45rem;
    margin-right: 5rem;

    &:hover {
        color: rgba(255, 255, 255, .45);
    }
}




.marker-info {
    font-size: 1.25rem;
    color: inherit;
    font-family: 'abhaya_libreregular';
}


.item-btn {
    background: none;
    border: none;
    color: var(--fnt-crl-primary);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.marker-rename{
    margin-right: 1rem;
}


.marker-list {
    display: none;
}

.marker-list--open {
    padding-top: 1rem;
    display: block;
}


@media (max-width: 992px) {
    .checkpoint-btn {
        font-size: 0.85rem;
    }

    .marker-link {
        font-size: 1rem;
    }

    .marker-info {
        font-size: 0.85rem;
    }

    .marker-list-toggle {
        font-size: 1.25rem;
    }
}