

.list-container{
        margin-bottom: 1rem;
}

.marker-list-toggle{
    background: none;
    border: none;
    display: block;
    text-decoration: underline;
    color: var(--fnt-crl-primary);
    font-size: 1.75rem;
    cursor: pointer;
}

.marker-list-toggle:hover{
    text-decoration: none;
}

.marker-link:hover{
    color: rgba(255, 255, 255, .45);

}

.item-controls{
    background: none;
    border: none;
    cursor: pointer;
    color: var(--fnt-crl-primary);
    text-decoration: underline;
}




.marker-link{
    text-decoration: none;
    color: inherit;
    font-size: 1.45rem;
    margin-right:5rem;
    outline: 1px solid red;
    
}


.marker-link:hover{
    color: rgba(255, 255, 255, .45);
}


.marker-info{
    font-size: 1.2rem;
    color: inherit;
    font-family: 'Franklin Gothic Regular';
    outline: 1px solid red;
}



.marker-list{
 display: none;
}

.marker-list--open{
    padding-top: 1rem;
    display: block;
}


@media (max-width: 992px) {
    .marker-list-item{
        font-size: 0.85rem;
    }
    .marker-link{
        font-size: inherit;
    }
    .marker-info{
        font-size: inherit;
    }
    .marker-list-toggle{
        font-size: 1.25rem;
    }
  }