.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2000;
background-color: var(--nav-crl-primary); //overall background color of sidebar
}

.sidebar.collapsed {
  width: var(--width-40);
}

@media (min-width:768px) {
  .sidebar {
    top: 0;
    bottom: 0;
    transition: width .5s
  }
}

@media (min-width:768px) and (max-width:991px) {
  .sidebar {
    width: 370px
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .sidebar {
    width:400px
  }
}

@media (min-width:1200px) {
  .sidebar {
    width: 480px
  }
}

.sidebar-left {
  left: 0;
}

@media (min-width:768px) {
  .sidebar-left {
    left: 0;
  }
}

.sidebar-right {
  right: 0;
}

@media (min-width:768px) {
  .sidebar-right {
    right: 0;
  }
}

.sidebar-tabs {
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, .5) //background color of the panel when shown
}

.sidebar-left .sidebar-tabs {
  left: 0;
}

.sidebar-right .sidebar-tabs {
  right: 0;
}

.sidebar-tabs,
.sidebar-tabs>ul {
  position: absolute;
  width: var(--width-40); //size of the navbar icons
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidebar-tabs>li,
.sidebar-tabs>ul>li {
  width: 100%;
  margin: 1.5rem auto;
  color: var(--fnt-crl-primary); //color of the navbar icons
  font-size: 1.5rem;
  overflow: hidden;
  transition: all 80ms;
}

.sidebar-tabs>li:hover,
.sidebar-tabs>ul>li:hover {
  color: var(--fnt-crl-primary); //change icon color on hover
    opacity: .5;
  background-color: var(--nav-crl-primary); //change background color on hover
}

.sidebar-tabs>li.active,
.sidebar-tabs>ul>li.active {
  color: #000;
  background-color: rgba(199, 198, 198, 0.8);
}

.sidebar-tabs>li.disabled,
.sidebar-tabs>ul>li.disabled {
  color: rgba(51, 51, 51, .4)
}

.sidebar-tabs>li.disabled:hover,
.sidebar-tabs>ul>li.disabled:hover {
  background: transparent;
}

.sidebar-tabs>li.disabled>a,
.sidebar-tabs>ul>li.disabled>a {
  cursor: default;
}

.sidebar-tabs>li>a,
.sidebar-tabs>ul>li>a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: var(--width-40); //making icons look more regular
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.sidebar-tabs>ul+ul {
  bottom: 0;
}

.sidebar-content {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
color: var(--fnt-crl-primary); //text color of the shown panel
}

.sidebar-content .link {
    color: var(--fnt-crl-primary); //links on the show panel
    text-decoration: underline;
}

.btn {
  color: var(--fnt-crl-primary);
  text-decoration: none;
}
.btn:hover{
  text-decoration: underline;
}


.sidebar-left .sidebar-content {
  left: var(--width-40);
  right: 0;
padding-left: 10px;
}

.sidebar-right .sidebar-content {
  left: 0;
  right: var(--width-40);
}

.sidebar.collapsed>.sidebar-content {
  overflow-y: hidden;
}

.sidebar-pane {
  display: none;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 16pt;
}

.sidebar-pane.active {
  display: block;
}

@media (min-width:768px) and (max-width:991px) {
  .sidebar-pane {
    min-width: 300px
  };
  
}

@media (min-width:992px) and (max-width:1199px) {
  .sidebar-pane {
    min-width: 350px
  }
}

@media (min-width:1200px) {
  .sidebar-pane {
    min-width: 420px;
  }
}

.sidebar-header {
  margin: 0.3rem auto 1.15rem auto;
  height: 3rem;
  max-height: 3rem;
  padding: 0 1.25rem;
  color: var(--fnt-crl-primary);
  border-bottom: 2px solid var(--fnt-crl-primary);
    text-transform: uppercase;
    text-align: center;
    font-size: 28pt; //header font size
}

.marker-list{
  line-height: 1.85rem;
}


@media (max-width:992px) {
  .sidebar-header {
    height: 2.5rem;
    max-height: 2.5rem;
    font-size: 20pt;
  }
}



.fa-caret-left{
  font-size: 24pt;
}



.sidebar-right .sidebar-header {
  padding-left: var(--width-40);
}

.sidebar-close {
  position: absolute;
  top: 0;
  width: var(--width-40);
  height: var(--width-40);
  text-align: center;
  cursor: pointer;
}

.sidebar-left .sidebar-close {
  right: 0;
}

.sidebar-right .sidebar-close {
  left: 0;
}

.sidebar-left~.sidebar-map {
  margin-left: var(--width-40);
}

@media (min-width:768px) {
  .sidebar-left~.sidebar-map {
    margin-left: 0
  }
}

.sidebar {
  box-shadow: 0 1px 5px var(--nav-crl-primary);
}

.sidebar.leaflet-touch {
  box-shadow: none
}

.sidebar-right~.sidebar-map {
    margin-right: var(--width-40);
}

@media (min-width:768px) {
    .sidebar-right~.sidebar-map {
        margin-right: 0
    }
}



@media (min-width:768px) {
  .sidebar-left~.sidebar-map .leaflet-left {
    transition: left .5s
  }
}

@media (min-width:768px) and (max-width:991px) {
  .sidebar-left~.sidebar-map .leaflet-left {
    left: 315px;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .sidebar-left~.sidebar-map .leaflet-left {
    left: 400px;
  }
}

@media (min-width:1200px) {
  .sidebar-left~.sidebar-map .leaflet-left {
    left: 470px;
  }
}

@media (min-width:768px) {
  .sidebar-left.collapsed~.sidebar-map .leaflet-left {
    left: 50px;
  }
}

@media (min-width:768px) {
  .sidebar-right~.sidebar-map .leaflet-right {
    transition: right .5s
  }
}

@media (min-width:768px) and (max-width:991px) {
  .sidebar-right~.sidebar-map .leaflet-right {
    right: 315px;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .sidebar-right~.sidebar-map .leaflet-right {
    right: 400px;
  }
}

@media (min-width:1200px) {
  .sidebar-right~.sidebar-map .leaflet-right {
    right: 470px;
  }
}

@media (min-width:768px) {
  .sidebar-right.collapsed~.sidebar-map .leaflet-right {
    right: 50px;
  }
}

.sidebar-content li {
    margin-bottom: 10px;
}

