//Start of sidebar styling
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2000;
  background-color: var(--nav-crl-primary); //overall background color of sidebar
}

.sidebar.collapsed {
  width: var(--width-desktop);
}

.button-controls {
  display: flex;
  grid-auto-flow: column;
  gap: 0.75rem;
  font-size: 1.4rem;
}

.col {
  margin: 0 auto;
}

.btn-sidebar {
  border: 0.15rem var(--nav-crl-primary);
  border-radius: .25rem;
  color: var(--nav-crl-primary);
  text-decoration: none;
  cursor: pointer;
  padding: 0 .5rem;
}

.menu {
  margin-top: .75rem;
  display: none;
}

.menu--active {
  display: grid;
  grid-template-rows: 1fr;
  gap: 0.5rem;
}

.flex-container{
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}

.sidebar-left {
  left: 0;
}

.sidebar-right {
  right: 0;
}

.sidebar-tabs {
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5); //background color of the panel when shown
  overflow-y: auto;

}

.sidebar-left .sidebar-tabs {
  left: 0;
}

.sidebar-right .sidebar-tabs {
  right: 0;
}

.sidebar-tabs,
.sidebar-tabs>ul {
  width: var(--width-desktop); //size of the navbar icons
  margin: 0;
  padding: 0;
}

.sidebar-tabs>li,
.sidebar-tabs>ul>li {
  width: 100%;
  margin: 1.5rem auto;
  color: var(--fnt-crl-primary); //color of the navbar icons
  font-size: 1.5rem; //size of the navbar icons
  overflow: hidden;
  transition: all 80ms;
}




.sidebar-tabs>li:hover,
.sidebar-tabs>ul>li:hover {
  color: var(--fnt-crl-primary); //change icon color on hover
  opacity: .5;
  background-color: var(--nav-crl-primary); //change background color on hover
}

.sidebar-tabs>li.active,
.sidebar-tabs>ul>li.active {
  color: var(--fnt-crl-secondary);
  background-color: rgba(199, 198, 198, 0.8);
}

.sidebar-tabs>li.disabled,
.sidebar-tabs>ul>li.disabled {
  color: rgba(51, 51, 51, .4)
}

.sidebar-tabs>li.disabled:hover,
.sidebar-tabs>ul>li.disabled:hover {
  background: transparent;
}

.sidebar-tabs>li.disabled>a,
.sidebar-tabs>ul>li.disabled>a {
  cursor: default;
}



.sidebar-tabs>ul+ul {
  bottom: 0;
}

.sidebar-content {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--fnt-crl-primary); //text color of the shown panel

  padding: 0.75rem;
}

.sidebar-content .link {
  color: var(--fnt-crl-primary); //links on the show panel
  text-decoration: underline;
}

.link:hover{
  text-decoration: none;
}

.sidebar-left .sidebar-content {
  left: var(--width-desktop);
  right: 0;
  padding-left: 0.5rem;
}

.sidebar-right .sidebar-content {
  left: 0;
  right: var(--width-desktop);
}

.sidebar.collapsed>.sidebar-content {
  overflow-y: scroll;
}

.sidebar-pane {
  display: none;
  left: 0;
  right: 0;
  padding: 0.5rem;
}

.sidebar-pane.active {
  display: block;
}

.sidebar-header {
  margin: 0.3rem auto 1.15rem auto;
  max-height: 3rem;
  padding: 0 1.25rem;
  color: var(--fnt-crl-primary);
  border-bottom: 0.15rem solid var(--fnt-crl-primary);
  text-transform: uppercase;
  text-align: center;
  font-size: 2.25rem; //header font size
}

.sidebar-section-title{
  font-size: 1.65rem;
  color: var(--fnt-crl-primary);
}
.section-separate{
  margin-bottom: 0.75rem;
}

.section-paragraph{
display: flex;
flex-direction: row;
}

.showcase-icon{
  font-size: 1.5rem;
  display: block;
  margin: auto 0.75rem;
}


.sidebar-link{
  height: var(--width-desktop); //making icons look more regular
  display: grid;
  place-items: center;
  width: 100%;
  &:hover{
    background-color: rgba(104, 104, 104, 0.8);
  }
}





.fa-caret-left {
  font-size: 2rem;
}

.sidebar-right .sidebar-header {
  padding-left: var(--width-desktop);
}

.sidebar-close {
  position: absolute;
  top: 1rem;
  width: var(--width-desktop);
  height: var(--width-desktop);
  text-align: center;
  cursor: pointer;
}

.sidebar-left .sidebar-close {
  right: 0;
}

.sidebar-right .sidebar-close {
  left: 0;
}

.sidebar-left~.sidebar-map {
  margin-left: var(--width-desktop);
}

.sidebar-right~.sidebar-map {
  margin-right: var(--width-desktop);
}

.sidebar-content li {
  margin-bottom: 0.5rem;
}

// Sidebar media queries
@media (max-width: 992px) {
  .sidebar-header {
    height: 2.5rem;
    max-height: 2.5rem;
    font-size: 1.5rem;
  }

  .button-controls {
    font-size: 1rem;

  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-pane {
    min-width: 20%;
  }

  .sidebar-left~.sidebar-map .leaflet-left {
    left: 315px;
  }

  .sidebar-right~.sidebar-map .leaflet-right {
    right: 315px;
  }

  .sidebar {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .sidebar-right~.sidebar-map {
    margin-right: 0;
  }

  .sidebar-left~.sidebar-map {
    margin-left: 0;
  }

  .sidebar-left~.sidebar-map .leaflet-left {
    transition: left 0.5s;
  }

  .sidebar-left.collapsed~.sidebar-map .leaflet-left {
    left: 50px;
  }

  .sidebar-right~.sidebar-map .leaflet-right {
    transition: right 0.5s;
  }

  .sidebar-right.collapsed~.sidebar-map .leaflet-right {
    right: 50px;
  }

  .sidebar {
    top: 0;
    bottom: 0;
    transition: width 0.5s;
  }

  .sidebar-left {
    left: 0;
  }

  .sidebar-right {
    right: 0;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-pane {
    min-width: 20%;
  }

  .sidebar-left~.sidebar-map .leaflet-left {
    left: 400px;
  }

  .sidebar-right~.sidebar-map .leaflet-right {
    right: 400px;
  }

  .sidebar {
    width: 25%;
  }

  .sidebar-header {
    height: 2.5rem;
    max-height: 2.5rem;
    font-size: 1.75rem;
  }

  .button-controls {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .sidebar-pane {
    min-width: 25%;
    font-size: 1.15rem;
  }

  .sidebar-left~.sidebar-map .leaflet-left {
    left: 470px;
  }

  .sidebar-right~.sidebar-map .leaflet-right {
    right: 470px;
  }
  .sidebar {
    width: 30%;
  }
}
//end of sidebar media queries
//End of sidebar styling