body,
html{
    background-color: var(--bg-crl-primary);
    font-family: 'mopsmedium';
}


#map {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: var(--bg-crl-primary)
}

.custom-popup { //popups for created markers
    max-height: 1.5rem;
    font-family: 'mopsmedium';
    font-size: 1.25rem;
    text-align: center;
}


.cbtn{ //Checkpoint buttons styling
    
    display: inline-block;
    cursor: pointer;
    font-size: 1.15rem;
    padding: 0 0.5rem;
    height: 1.75rem;
    max-height: 1.75rem;
    background: #566AE5;
    border: none;
    color: #FFFFFF;
}

.markerName{
    font-size: 1rem;
}

.overlayName{
    font-size: 1rem;
}

.leaflet-popup-content{
    font-size: 1.15rem;
}



.leaflet-bar a:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: none!important
}

.leaflet-bar a,
.leaflet-bar a:hover {
    background-color: var(--nav-crl-primary);
    color: var(--fnt-crl-primary);;
    font-size: 14pt;
    border-bottom: 1px solid #ccc
}

.leaflet-control-layers {
    font-family: 'mopsmedium';
    background-color: var(--nav-crl-primary);
    color: var(--fnt-crl-primary);;
    font-size: 14pt;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    width: 3rem!important;
    height: 3rem!important;
    line-height: 3rem!important;
    font-size: 1.75rem!important
}
.leaflet-control {
    cursor: pointer
}

@media (max-width:991px) {
    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out {
        width: 0!important;
        height: 0!important;
        line-height: 0!important;
        font-size: 0!important
    }
  }



