body,
html{
    background-color: var(--bg-crl-primary);
    font-family: 'abhaya_libreregular';
}

.modal{
    position: absolute;
    margin: auto;
    border: 2px solid rgb(0, 0, 0);
    width: 40ch;
    padding: 1rem;
    max-height: 40ch;
    box-shadow: -2px 11px 22px 4px rgba(0,0,0,0.79);
-webkit-box-shadow: -2px 11px 22px 4px rgba(0,0,0,0.79);
-moz-box-shadow: -2px 11px 22px 4px rgba(0,0,0,0.79);
}

.modal::backdrop{
    background: rgba(0, 0, 0, 0.35);
}


.modal-body{
    display: grid;
    grid-template-rows: repeat(3 1fr);
    gap: 0.25rem
}

.modal-input{
    font-size: 1.15rem;
}

.modal-title{
    font-size: 1.25rem;
}

.name-required-modal{
    color: rgb(201, 45, 34);
    display: none;

    &--active{
    display: block;
}
}


#map {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: var(--bg-crl-primary)
}

.leaflet-bar a:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: none!important
}

.leaflet-bar a,
.leaflet-bar a:hover {
    background-color: var(--nav-crl-primary);
    color: var(--fnt-crl-primary);;
    font-size: 1.15rem;
    border-bottom: 1px solid #ccc
}

.leaflet-control-layers {
    font-family: 'abhaya_libreregular';
    background-color: var(--nav-crl-primary);
    color: var(--fnt-crl-primary);;
    font-size: 1.15rem;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    width: 3rem!important;
    height: 3rem!important;
    line-height: 3rem!important;
    font-size: 1.75rem!important
}
.leaflet-control {
    cursor: pointer
}

@media (max-width:991px) {
    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out {
        width: 0!important;
        height: 0!important;
        line-height: 0!important;
        font-size: 0!important
    }
  }
